<section class="ftco-section ftco-no-pb ftco-partner ">
	<div class="container  ">
	<div class="row no-gutters justify-content-center pb-5">
			<div class="col-md-12 heading-section text-center ftco-animate">
				<span class="subheading">{{livre}}</span>
				<h3 class="mb-4">Choisir canal de paiement 
				</h3>
			</div>
		</div>
		{% if livre is defined  and livre.id is defined %}
		<div class="row pb-50">
			<div class="col-md-12 col-lg ftco-animate">
				<a href="{{url('app_achat_new',{id: livre.id })}}" class="partner d-flex justify-content-center"><img src="{{asset('images/mobile1.png')}}" class="img-fluid" alt="Colorlib Template"></a>
			</div>
			<div class="col-md-12 col-lg ftco-animate">
				<a href="{{url('app_achat_new',{id: livre.id })}}" class="partner d-flex justify-content-center"><img src="{{asset('images/mobile2.png')}}" class="img-fluid" alt="Colorlib Template"></a>
			</div>
			<div class="col-md-12 col-lg ftco-animate">
				<a href="{{url('app_achat_new',{id: livre.id })}}" class="partner d-flex justify-content-center"><img src="{{asset('images/mobile3.png')}}" class="img-fluid" alt="Colorlib Template"></a>
			</div>
			<div class="col-md-12 col-lg ftco-animate">
				<a href="{{url('app_achat_new',{id: livre.id })}}" class="partner d-flex justify-content-center"><img src="{{asset('images/mobile4.png')}}" class="img-fluid" alt="Colorlib Template"></a>
			</div>
			<div class="col-md-12 col-lg ftco-animate">
				<a href="{{url('app_achat_new',{id: livre.id })}}" class="partner d-flex justify-content-center"><img src="{{asset('images/mobile5.png')}}" class="img-fluid" alt="Colorlib Template"></a>
			</div>
			{% endif %}
		</div>


	</div>
</section>
