<nav class="navbar navbar-expand-lg  navbar-dark ftco_navbar ftco-navbar-light site-navbar-target" id="ftco-navbar">
	<div class="container ">
		<a title="L'Auteur" class="navbar-brand" href="{{url('app_accueil', {page:6})}}">{{auteur|title}}<span>.</span>
		</a>
		<button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="oi oi-menu"></span>
			Menu
		</button>
		<div class="collapse navbar-collapse" id="ftco-nav">
			<ul class="navbar-nav nav ml-auto">
				<li class="nav-item" #home-section>
					<a href="{{url('app_accueil', {page:1})}}" class="nav-link">
						<span>Accueil</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="{{url('app_accueil', {page:2})}}" class="nav-link">
						<span>Le Livre
						</span>
					</a>
				</li>
				{% if autreLivres|length > 0 %}
					<li class="nav-item">
						<a href="{{url('app_accueil', {page:5})}}" class="nav-link">
							<span>Mes Livres
							</span>
						</a>
					</li>
				{% endif %}
				<li class="nav-item">
					<a href="{{url('app_accueil', {page:6})}}" class="nav-link">
						<span>L'Auteur</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="{{url('app_accueil', {page:7})}}" class="nav-link">
						<span>Contact</span>
					</a>
				</li>
				{% if app.user %}
				<li class="nav-item bg-primary">
					<a href="{{url('app_achat_new')}}" class="nav-link">
						<span> <span class="fa fa-cart-arrow-down "> </span>$ US 40  Acheter</span>
					</a>
				</li>
				<li class="nav-item bg-danger">
					<a href="{{url('app_logout')}}" class="nav-link">
						<span>Déconnexion</span>
					</a>
				</li>
				{% else %}
				<li class="nav-item bg-primary">
					<a href="{{url('app_achat_new')}}" class="nav-link">
						<span> <span class="fa fa-cart-arrow-down "> </span>$ US 40  Acheter</span>
					</a>
				</li>

				{% endif %}

			</li>
		</ul>
	</div>
</div>
</nav>
<div class="row">
</div>
