{% extends 'base.html.twig' %}

{% block title %}Connexion !
{% endblock %}

{% block body %}

	<section class="ftco-section contact-section ftco-no-pb" id="contact-section">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-3">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<h2 class="mb-4">Ouverture de compte </h2>

					<form method="post">
						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}

						{% if app.user %}
							<div class="mb-3">
								Vous êtes connécté comme
								{{ app.user.userIdentifier }},
								<a href="{{ path('app_logout') }}">Déconnexion</a>
							</div>
						{% endif %}

						{# <h1 class="h3 mb-3 font-weight-normal">Connectez-vous s'il vous plaît</h1> #}
						<label for="inputEmail">E-mail</label>
						<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
						<label for="inputPassword">Mot de passe</label>
						<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

						<input
						type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

						        <div class="checkbox mb-3">
						            <label>
						                <input type="checkbox" name="_remember_me"> Se souvenir de moi
						            </label>
						        </div>
						

						<button class="btn btn-lg btn-primary mb-10" type="submit">
							Connectez-vous!
						</button>


                        <a href="{{url('app_register')}}" class="btn btn-lg btn-success mb-10" >
							Créez un compte 
						</a>
                        
					</form>
                    
				</div>
			</div>
		</div>
	</section>
{% endblock %}
