{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}

	<section class="ftco-section contact-section ftco-no-pb" id="contact-section">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-3">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<h2 class="mb-4">S'enregistrer</h2>
					<p>Créez votre compte desormais et commencez a commercer avec nous </p>
					{{ form_start(registrationForm) }}
					{{ form_row(registrationForm.email) }}
					{{ form_row(registrationForm.telephone) }}
					{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
					{{ form_row(registrationForm.agreeTerms) }}

					<button type="submit" class="btn btn-success">Je crée mon compte </button>
					{{ form_end(registrationForm) }}

				</div>
			</div>
		</div>
	</section>
{% endblock %}
